#controls {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.layer-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 220px;
}

.layer-controls h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.layer-controls input {
  width: 200px;
}
